*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    padding: 2rem 2rem;
    gap: 3rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    background: #0f0f0f;
    box-shadow:0 20px 40px rgba(0, 0, 0, 0.9),
            inset 0 1px 1px rgba(255, 255, 255, 0.1);
}
.container i{
    transition: all ease 0.3s;
}
.container i:hover{
    transform: translateY(-2px);
    transform: scale(1.3);
}


.container > div:nth-child(1):hover {   
    color: #E1306C;

    text-shadow:
        0 0 6px rgba(225, 48, 108, 0.6),
        0 0 15px rgba(193, 53, 132, 0.6),
        0 0 30px rgba(64, 93, 230, 0.6);
    
}


.container > div:nth-child(2):hover {  
    color: #ffffff;

    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.6),
        0 0 15px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.6);
    border-radius: 50%;}

.container > div:nth-child(3):hover {
    color: #1877F2;

    text-shadow:
        0 0 6px rgba(24, 119, 242, 0.6),
        0 0 15px rgba(24, 119, 242, 0.6),
        0 0 30px rgba(24, 119, 242, 0.6);
}

.container> div:nth-child(4):hover{
    color: #0A66C2;

    text-shadow:
        0 0 6px rgba(10, 102, 194, 0.6),
        0 0 15px rgba(10, 102, 194, 0.6),
        0 0 30px rgba(10, 102, 194, 0.6);
}
.container> div:nth-child(5):hover{
    color: #FF0000;

    text-shadow:
        0 0 6px rgba(255, 0, 0, 0.6),
        0 0 15px rgba(255, 0, 0, 0.6),
        0 0 30px rgba(255, 0, 0, 0.6);
}